<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Artista Colgar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarsExampleDefault">
    <ul class="navbar-nav justify-content-end" >
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/shopping-cart']" routerLinkActive="router-link-active">shopping-cart </a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
        </li>
      </ng-template>

      <!-- <li class="nav-item active" *ngIf="!(user$ | async)">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
      </li> -->
      <li ngbDropdown class="nav-item dropdown" *ngIf="appUser; else anonymousUser ">
        <!-- <li ngbDropdown class="nav-item dropdown" *ngIf="auth.appuser$ | async as user; else anonymousUser "> -->
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> <span>
            <!-- <img [src]="appUser.photoURL" class="user-img" alt=""> -->
            {{ appUser.name }}</span></a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <ng-container *ngIf="appUser.isAdmin">
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          </ng-container>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>